<h1 mat-dialog-title>{{ data.name }}</h1>
<mat-dialog-content>
    <h3 style="color: grey;">Email: <span style="color: black;">{{ data.email }}</span></h3> 
    <h3 style="color: grey;">Nacionalidad: <span style="color: black;">{{ data.nationality }}</span></h3>
    <h3 style="color: grey;">Fecha de nacimiento: <span style="color: black;">{{ data.birthdate }}</span></h3> 
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>